<h2>About the Application ...</h2>
<h5>Application Name : Student Indformation System</h5>
<h5>Introduction : This is an Application for Collecting the Information of Students ! Feel Free to Use it !</h5>
<h5>Version : 1.0.0</h5>
<h5>Creator : Huxizi Ma ( Fisher Mouhu )</h5>
<h5>Publish Date : 05 / 12 / 2019</h5>