<h2>Welcome to the Student Information System !</h2>
<h5>About Page - Include the Basic Information of the System</h5>
<h5>Contact Page - Include the Contact Information of the System Creator</h5>
<h5>Students Page - Include the Detailed Information of All Students</h5>
<h5>Comments Page - Include the Detailed Information of All Comments</h5>
<h5>Video Page - Display a Sample Video to Visitor</h5>
<h5>Login Page - Only for Authorized User Login</h5>